<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Made Up World API</title>
</head>
<body>
  <section>
    <h1>Made Up World API is running!</h1>

    <p>For viewing visit:</p>

    <ol>
      <li>
        <a
          href="https://made-up-world-vuejs.herokuapp.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          VueJS example project
        </a>
      </li>
    </ul>
  </section>
</body>
</html>