<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Made Up World API</title>

  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <main>
    <section class="keyvisual">
      <div class="container">
        <h1 class="title">Hello!!</h1>

        <p class="text">My name is Viktor and I am a Frontend Developer.</p>

        <p class="text">
          Welcome to my portfolio page! I created the App, with using NodeJS
          on&nbsp;backend and Angular and VueJS on Frontend.
        </p>

        <p class="text">
          In the app you can sign up and create a gamebook with variative plot development.
        </p>

        <p class="text">
          Have a good day!
        </p>
      </div>
    </section>

    <section class="portfolio">
      <div class="container">
        <h2 class="title2">Portfolio</h2>

        <p class="subtitle">Backend part (NodeJS)</p>

        <ul class="list">
          <li class="list__el list__el_nodejs">
            <a
              class="link"
              href="https://github.com/mrWD/made-up-world-nodejs"
              target="_blank"
              rel="noopener noreferrer"
            >
              The API on GitHub.
            </a>
          </li>
        </ul>

        <p class="subtitle">Frontend part:</p>

        <ul class="list">
          <li class="list__el list__el_half list__el_vuejs">
            <a
              class="link"
              href="https://made-up-world-vuejs.herokuapp.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              VueJS on Heroku.
            </a>

            <br>

            <a
              class="link"
              href="https://github.com/mrWD/made-up-world-vuejs"
              target="_blank"
              rel="noopener noreferrer"
            >
              VueJS on GitHub.
            </a>
          </li>

          <li class="list__el list__el_half list__el_angular">
            <a
              class="link"
              href="https://made-up-world-angular.herokuapp.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Angular on Heroku.
            </a>

            <br>

            <a
              class="link"
              href="https://github.com/mrWD/made-up-world-angular"
              target="_blank"
              rel="noopener noreferrer"
            >
              Angular on GitHub.
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="contacts">
      <div class="container">
        <h2 class="title2">Contacts</h2>

        <ul class="list">
          <li class="list__el list__el_half list__el_phone">
            <a
              class="link"
              href="tel:+79251366139"
              target="_blank"
              rel="noopener noreferrer"
            >
              +7 (925) 136 61 39
            </a>
          </li>
          <li class="list__el list__el_half list__el_skype">
            <a
              class="link"
              href="tel:+79251366139"
              target="_blank"
              rel="noopener noreferrer"
            >
              Skype
            </a>
          </li>
          <li class="list__el list__el_half list__el_telegram">
            <a
              class="link"
              href="tel:+79251366139"
              target="_blank"
              rel="noopener noreferrer"
            >
              Telegram
            </a>
          </li>
          <li class="list__el list__el_half list__el_whatsapp">
            <a
              class="link"
              href="tel:+79251366139"
              target="_blank"
              rel="noopener noreferrer"
            >
              WhatsApp
            </a>
          </li>
          <li class="list__el list__el_half list__el_linked-in">
            <a
              class="link"
              href="tel:+79251366139"
              target="_blank"
              rel="noopener noreferrer"
            >
              LinkedIn
            </a>
          </li>
          <li class="list__el list__el_half list__el_facebook">
            <a
              class="link"
              href="https://www.facebook.com/viktor.lavrov.378/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Facebook
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
</body>
</html>