<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:image" content="https://made-up-world-nodejs.herokuapp.com/img/node-js.png">

  <title>Made Up World API</title>

  <link rel="icon" type="image/png" href="/img/node-js-icon.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <main>
    <section class="keyvisual">
      <div class="container">
        <h1 class="title">Hello!!</h1>

        <p class="text">My name is Viktor and I am a Frontend Developer.</p>

        <p class="text">
          Welcome to my portfolio page! I created the App, with using NodeJS
          for&nbsp;Backend and Angular, VueJS and ReactJS for&nbsp;Frontend.
        </p>

        <p class="text">
          I set up CI for the projects with using
          <a class="text__link" href="https://github.com/" target="_blank">GitHub</a>,
          <a class="text__link" href="https://travis-ci.com/" target="_blank">Travis CI</a>
          and
          <a class="text__link" href="https://heroku.com/" target="_blank">Heroku</a>.
        </p>

        <p class="text">
          In the app you can sign up and create a gamebook with variative plot development.
        </p>

        <p class="text">
          Hope you enjoy my app and have a good day!
        </p>
      </div>
    </section>

    <section class="portfolio">
      <div class="container">
        <h2 class="title2">Portfolio</h2>

        <p class="text text_small">
          They are still in progress and I have to do a lot,
          but you can already check the first version.
        </p>

        <p class="subtitle">Backend part (NodeJS)</p>

        <ul class="list">
          <li class="list__el list__el_painted list__el_nodejs">
            <a
              class="link"
              href="https://github.com/mrWD/made-up-world-nodejs"
              target="_blank"
              rel="noopener noreferrer"
            >
              The API on GitHub
            </a>

            <span class="list__title">ToDo list:</span>

            <ol class="numeric-list">
              <li>Add Unit tests</li>
              <li>
                Refactoring code by REST API best practices, S.O.L.I.D. principles and OOP paradigm
              </li>
            </ol>
          </li>
        </ul>

        <p class="subtitle">Frontend part:</p>

        <ul class="list">
          <li class="list__el list__el_painted list__el_angular">
            <a
              class="link"
              href="https://made-up-world-angular.herokuapp.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Angular on Heroku
            </a>

            <br>

            <a
              class="link"
              href="https://github.com/mrWD/made-up-world-angular"
              target="_blank"
              rel="noopener noreferrer"
            >
              Angular on GitHub
            </a>

            <span class="list__title">ToDo list:</span>

            <ol class="numeric-list">
              <li>Add Unit tests</li>
              <li>Add E2E tests</li>
              <li>Add local components</li>
              <li>Refactoring code by best practices, S.O.L.I.D. principles and OOP paradigm</li>
            </ol>
          </li>

          <li class="list__el list__el_painted list__el_vuejs">
            <a
              class="link"
              href="https://made-up-world-vuejs.herokuapp.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              VueJS on Heroku
            </a>

            <br>

            <a
              class="link"
              href="https://github.com/mrWD/made-up-world-vuejs"
              target="_blank"
              rel="noopener noreferrer"
            >
              VueJS on GitHub
            </a>

            <span class="list__title">ToDo list:</span>

            <ol class="numeric-list">
              <li>Fix mobile and tablet versions</li>
              <li>Fix Unit tests</li>
              <li>Add E2E tests</li>
              <li>Refactoring code by best practices, S.O.L.I.D. principles and OOP paradigm</li>
            </ol>
          </li>

          <li class="list__el list__el_painted list__el_reactjs">
            <a
              class="link"
              href="https://made-up-world-reactjs.herokuapp.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              ReactJS: In Progress
            </a>
          </li>
        </ul>

        <span class="subtitle">
          Here is the ToDo list of what I am going to add in the next versions:
        </span>

        <ol class="numeric-list">
          <li>Add possibility to upload photo.</li>
          <li>Socket Chat.</li>
          <li>Push notifications.</li>
          <li>Transform the applications from SPA to PWA.</li>
          <li>Add WebWorkers.</li>
        </ol>
      </div>
    </section>

    <section class="contacts">
      <div class="container">
        <h2 class="title2">Contacts</h2>

        <ul class="list">
          <li class="list__el list__el_half list__el_phone">
            <a
              class="link"
              href="tel:+79251366139"
              target="_blank"
              rel="noopener noreferrer"
            >
              +7 (925) 136 61 39
            </a>
          </li>
          <li class="list__el list__el_half list__el_gmail">
            <a
              class="link"
              href="mailto:lvigtor@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              lvigtor@gmail.com
            </a>
          </li>
          <li class="list__el list__el_half list__el_telegram">
            <a
              class="link"
              href="tg://resolve?domain=lvigtor"
              target="_blank"
              rel="noopener noreferrer"
            >
              @lvigtor
            </a>
          </li>
          <li class="list__el list__el_half list__el_whatsapp">
            <a
              class="link"
              href="https://wa.me/+79251366139"
              target="_blank"
              rel="noopener noreferrer"
            >
              +7 (925) 136 61 39
            </a>
          </li>
          <li class="list__el list__el_half list__el_linked-in">
            <a
              class="link"
              href="https://www.linkedin.com/in/viktor-lavrov-379b55187/"
              target="_blank"
              rel="noopener noreferrer"
            >
              LinkedIn
            </a>
          </li>
          <li class="list__el list__el_half list__el_facebook">
            <a
              class="link"
              href="https://www.facebook.com/viktor.lavrov.378/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Facebook
            </a>
          </li>
          <li class="list__el list__el_half list__el_skype">
            <a
              class="link"
              href="skype:live:lvigtor?chat"
              target="_blank"
              rel="noopener noreferrer"
            >
              live:lvigtor
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
</body>
</html>