<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Made Up World API</title>
</head>
<body>
  <section>
    <h1>Made Up World API is running!</h1>

    <a
      href="https://github.com/mrWD/made-up-world-nodejs"
      target="_blank"
      rel="noopener noreferrer"
    >
      The API's Git repository is here.
    </a>

    <p>For viewing visit:</p>

    <ol>
      <li>
        <a
          href="https://made-up-world-vuejs.herokuapp.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          VueJS example project on Heroku.
        </a>

        <br>

        <a
          href="https://github.com/mrWD/made-up-world-vuejs"
          target="_blank"
          rel="noopener noreferrer"
        >
          VueJS's Git repository.
        </a>

        <hr>
      </li>

      <li>
        <span>ReactJS example project on Heroku.</span>

        <br>

        <span>ReactJS's Git repository.</span>

        <br>

        <mark>Is not ready yet!</mark>

        <hr>
      </li>

      <li>
        <span>AngularJS example project on Heroku.</span>

        <br>

        <span>AngularJS's Git repository.</span>

        <br>

        <mark>Is not ready yet!</mark>

        <hr>
      </li>
    </ul>
  </section>
</body>
</html>