@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  box-sizing: border-box;
}

body,
body * {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Balsamiq Sans', sans-serif;
  letter-spacing: 0.02em;
  color: #28323C;
}

.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;
  padding-bottom: 65px;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
}

.title2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 25px;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.text:not(:last-child) {
  margin-bottom: 15px;
}

.text_small {
  font-size: 16px;
}

.text__link {
  color: #28323C;
}

.link {
  position: relative;
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #28323C;
}

.link:not(:last-child) {
  margin-bottom: 15px;
}

.link:after {
  position: absolute;
  top: 100%;
  left: 5px;
  right: 5px;
  display: block;
  max-width: 50%;
  height: 2px;
  border-radius: 2px;
  background-color: #28323C;
  content: '';
  transition: max-width 0.3s;
}

.link:hover:after {
  max-width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
}

.list:not(:last-child) {
  margin-bottom: 30px;
}

.list__title {
  display: block;
  padding-top: 15px;
}

.list__el {
  position: relative;
  display: block;
  width: 100%;
  padding-left: 45px;
  padding-top: 2px;
}

.list__el:not(:last-child) {
  margin-bottom: 20px;
}

.list__el:before {
  position: absolute;
  top: 0;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  content: '';
}

.list__el_painted:after {
  content: '';
  position: absolute;
  right: 0;
  top: -2px;
  bottom: -8px;
  left: 40px;
  border-radius: 3px;
  background-color: #cce7cc;
  z-index: 0;
}

.list__el_painted > * {
  z-index: 1;
  position: relative;
}

.list__el_nodejs:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 256 282' preserveAspectRatio='xMinYMin meet'%3E%3Cg fill='%238CC84B'%3E%3Cpath d='M116.504 3.58c6.962-3.985 16.03-4.003 22.986 0 34.995 19.774 70.001 39.517 104.99 59.303 6.581 3.707 10.983 11.031 10.916 18.614v118.968c.049 7.897-4.788 15.396-11.731 19.019-34.88 19.665-69.742 39.354-104.616 59.019-7.106 4.063-16.356 3.75-23.24-.646-10.457-6.062-20.932-12.094-31.39-18.15-2.137-1.274-4.546-2.288-6.055-4.36 1.334-1.798 3.719-2.022 5.657-2.807 4.365-1.388 8.374-3.616 12.384-5.778 1.014-.694 2.252-.428 3.224.193 8.942 5.127 17.805 10.403 26.777 15.481 1.914 1.105 3.852-.362 5.488-1.274 34.228-19.345 68.498-38.617 102.72-57.968 1.268-.61 1.969-1.956 1.866-3.345.024-39.245.006-78.497.012-117.742.145-1.576-.767-3.025-2.192-3.67-34.759-19.575-69.5-39.18-104.253-58.76a3.621 3.621 0 0 0-4.094-.006C91.2 39.257 56.465 58.88 21.712 78.454c-1.42.646-2.373 2.071-2.204 3.653.006 39.245 0 78.497 0 117.748a3.329 3.329 0 0 0 1.89 3.303c9.274 5.259 18.56 10.481 27.84 15.722 5.228 2.814 11.647 4.486 17.407 2.33 5.083-1.823 8.646-7.01 8.549-12.407.048-39.016-.024-78.038.036-117.048-.127-1.732 1.516-3.163 3.2-3 4.456-.03 8.918-.06 13.374.012 1.86-.042 3.14 1.823 2.91 3.568-.018 39.263.048 78.527-.03 117.79.012 10.464-4.287 21.85-13.966 26.97-11.924 6.177-26.662 4.867-38.442-1.056-10.198-5.09-19.93-11.097-29.947-16.55C5.368 215.886.555 208.357.604 200.466V81.497c-.073-7.74 4.504-15.197 11.29-18.85C46.768 42.966 81.636 23.27 116.504 3.58z'/%3E%3Cpath d='M146.928 85.99c15.21-.979 31.493-.58 45.18 6.913 10.597 5.742 16.472 17.793 16.659 29.566-.296 1.588-1.956 2.464-3.472 2.355-4.413-.006-8.827.06-13.24-.03-1.872.072-2.96-1.654-3.195-3.309-1.268-5.633-4.34-11.212-9.642-13.929-8.139-4.075-17.576-3.87-26.451-3.785-6.479.344-13.446.905-18.935 4.715-4.214 2.886-5.494 8.712-3.99 13.404 1.418 3.369 5.307 4.456 8.489 5.458 18.33 4.794 37.754 4.317 55.734 10.626 7.444 2.572 14.726 7.572 17.274 15.366 3.333 10.446 1.872 22.932-5.56 31.318-6.027 6.901-14.805 10.657-23.56 12.697-11.647 2.597-23.734 2.663-35.562 1.51-11.122-1.268-22.696-4.19-31.282-11.768-7.342-6.375-10.928-16.308-10.572-25.895.085-1.619 1.697-2.748 3.248-2.615 4.444-.036 8.888-.048 13.332.006 1.775-.127 3.091 1.407 3.182 3.08.82 5.367 2.837 11 7.517 14.182 9.032 5.827 20.365 5.428 30.707 5.591 8.568-.38 18.186-.495 25.178-6.158 3.689-3.23 4.782-8.634 3.785-13.283-1.08-3.925-5.186-5.754-8.712-6.95-18.095-5.724-37.736-3.647-55.656-10.12-7.275-2.571-14.31-7.432-17.105-14.906-3.9-10.578-2.113-23.662 6.098-31.765 8.006-8.06 19.563-11.164 30.551-12.275z'/%3E%3C/g%3E%3C/svg%3E");
}

.list__el_vuejs:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 333334 288680' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cg fill-rule='nonzero'%3E%3Cpath fill='%234dba87' d='M205160 0l-38493 66667L128174 0H0l166667 288680L333334 0z'%3E%3C/path%3E%3Cpath fill='%23425466' d='M205160 0l-38493 66667L128174 0H66667l100000 173200L266667 0z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.list__el_angular:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2353' height='2500' viewBox='0 0 256 272' preserveAspectRatio='xMidYMid'%3E%3Cpath d='M.1 45.522L125.908.697l129.196 44.028-20.919 166.45-108.277 59.966-106.583-59.169L.1 45.522z' fill='%23E23237'/%3E%3Cpath d='M255.104 44.725L125.908.697v270.444l108.277-59.866 20.919-166.55z' fill='%23B52E31'/%3E%3Cpath d='M126.107 32.274L47.714 206.693l29.285-.498 15.739-39.347h70.325l17.233 39.845 27.99.498-82.179-174.917zm.2 55.882l26.496 55.383h-49.806l23.31-55.383z' fill='%23FFF'/%3E%3C/svg%3E");
}

.list__el_reactjs:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 333334 296848' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M333334 148458c0-22082-27653-43009-70050-55986 9784-43213 5436-77592-13725-88599-4416-2582-9580-3805-15219-3805v15152c3125 0 5639 611 7746 1767 9240 5300 13249 25479 10124 51434-748 6387-1970 13113-3465 19976-13317-3261-27857-5775-43145-7406-9172-12570-18685-23984-28265-33972 22150-20587 42941-31866 57073-31866V1c-18685 0-43145 13317-67876 36418C141800 13454 117341 273 98656 273v15151c14064 0 34923 11211 57073 31662-9512 9988-19024 21334-28061 33904-15356 1631-29895 4144-43213 7474-1563-6794-2718-13385-3533-19704-3194-25955 747-46134 9920-51502 2038-1223 4688-1767 7813-1767V339c-5707 0-10871 1223-15355 3805-19093 11007-23373 45319-13521 88396C27518 105585 0 126444 0 148458c0 22082 27653 43009 70050 55986-9784 43213-5435 77593 13725 88599 4417 2582 9580 3805 15287 3805 18685 0 43145-13317 67876-36418 24732 22965 49191 36146 67876 36146 5707 0 10871-1223 15356-3805 19092-11007 23372-45319 13521-88395 42125-12977 69643-33904 69643-55918zm-135684 0c0-17149-13902-31050-31050-31050s-31050 13902-31050 31050 13902 31050 31050 31050c17149 0 31050-13902 31050-31050zM98588 272zm146284 102867c-2514 8765-5639 17802-9172 26838-2786-5435-5707-10871-8901-16306-3125-5436-6455-10735-9784-15899 9648 1427 18956 3193 27857 5367zm-31119 72361c-5300 9172-10735 17869-16374 25955-10124 883-20383 1359-30711 1359-10260 0-20519-476-30575-1291-5639-8085-11143-16714-16443-25819-5164-8901-9852-17937-14132-27042 4213-9105 8969-18209 14065-27110 5300-9172 10735-17869 16374-25955 10124-883 20383-1359 30711-1359 10260 0 20519 476 30575 1291 5639 8085 11143 16714 16443 25819 5164 8901 9852 17937 14133 27042-4281 9105-8969 18209-14065 27110zm21946-8833c3669 9104 6794 18209 9376 27042-8901 2174-18277 4009-27993 5435 3329-5232 6658-10599 9784-16103 3125-5435 6047-10939 8833-16374zm-68895 72496c-6319-6522-12638-13793-18889-21742 6115 272 12366 476 18685 476 6387 0 12706-136 18889-476-6115 7949-12434 15219-18685 21742zm-50550-40019c-9648-1427-18956-3193-27857-5368 2514-8765 5639-17801 9172-26838 2786 5435 5707 10871 8901 16307 3193 5435 6455 10735 9784 15899zm50211-141392c6319 6523 12638 13793 18889 21742-6115-272-12366-476-18685-476-6387 0-12706 136-18889 476 6115-7949 12434-15219 18685-21742zm-50279 40019c-3329 5232-6658 10599-9784 16103-3125 5435-6047 10871-8833 16306-3669-9104-6794-18209-9376-27042 8901-2106 18277-3941 27993-5367zm-61489 85066c-24052-10259-39611-23712-39611-34380 0-10667 15559-24188 39611-34380 5843-2514 12230-4756 18820-6863 3873 13317 8969 27178 15287 41378-6251 14133-11279 27925-15083 41174-6726-2107-13113-4417-19024-6931zm36554 97092c-9241-5300-13249-25479-10124-51434 747-6387 1970-13113 3465-19976 13317 3261 27857 5775 43144 7406 9173 12570 18685 23984 28265 33972-22150 20587-42941 31866-57073 31866-3058-68-5639-680-7678-1835zm161164-51773c3193 25954-747 46134-9920 51502-2038 1223-4688 1767-7814 1767-14064 0-34923-11211-57073-31662 9512-9988 19024-21334 28061-33904 15356-1631 29896-4144 43213-7474 1563 6862 2786 13453 3533 19772zm26158-45319c-5843 2514-12230 4756-18820 6863-3873-13317-8969-27178-15287-41378 6251-14132 11279-27925 15084-41174 6726 2106 13113 4417 19092 6930 24052 10260 39611 23713 39611 34380-68 10667-15627 24188-39680 34380z' fill='%2300d8ff'%3E%3C/path%3E%3C/svg%3E");
}

.list__el_phone:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 640 640'%3E%3Cpath d='M180.191 0h279.594c30.614 0 55.666 25.075 55.666 55.666v528.668c0 30.602-25.063 55.666-55.666 55.666H180.191c-30.59 0-55.654-25.052-55.654-55.666V55.666C124.537 25.052 149.588 0 180.19 0zM320 524.156c19.89 0 36.048 16.146 36.048 36.048 0 19.901-16.158 36.036-36.048 36.036-19.914 0-36.048-16.135-36.048-36.036 0-19.902 16.134-36.048 36.048-36.048zM262.539 45.048h114.923c.838 0 1.523.697 1.523 1.524v16.783c0 .839-.697 1.524-1.523 1.524H262.539a1.52 1.52 0 0 1-1.524-1.524V46.572a1.52 1.52 0 0 1 1.524-1.524zM173.6 127.006h292.787c4.984 0 9.047 4.098 9.047 9.035v353.591c0 4.96-4.099 9.06-9.047 9.06H173.6c-4.95 0-9.048-4.075-9.048-9.06v-353.59c0-4.973 4.063-9.036 9.048-9.036z'%3E%3C/path%3E%3C/svg%3E");
}

.list__el_gmail:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3333 2410' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M191 0h2951c53 0 100 22 135 56 35 35 56 83 56 135v2028c0 40-12 77-33 107-4 10-10 19-18 27-5 5-11 9-18 13-33 28-76 45-122 45H191c-53 0-100-22-135-56-35-35-56-82-56-135V192C0 139 21 92 56 57S138 1 191 1zm-45 2139l1034-1037L146 259v1880zm1148-944L228 2264h2867L2076 1195l-336 286c-26 23-66 24-94 1l-353-287zm894-95l998 1047V250l-998 850zM240 147l1452 1184L3081 147H240z' fill-rule='nonzero'%3E%3C/path%3E%3C/svg%3E");
}

.list__el_whatsapp:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 333333 333333' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='296722' y1='-9630.71' x2='36611' y2='342964'%3E%3Cstop offset='0' stop-color='%235dd069'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%232bb641'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M302077 0H31255C14069 0 1 14068 1 31256v270822c0 17186 14068 31254 31254 31254h270822c17186 0 31254-14068 31254-31254l2-270824C333333 14068 319265 0 302079 0h-2zm-62988 98696c-17931-17968-41780-27850-67183-27850-52328-1-94918 42593-94918 94959 0 16727 4382 33089 12684 47464l-13479 49218 50343-13212c13883 7563 29502 11572 45356 11572h38c52331 0 94957-42594 94957-94957 0-25381-9882-49217-27813-67179l14-14zm-67155 146128c-14182 0-28074-3822-40193-11011l-2890-1725-29874 7824 7978-29119-1868-2991c-7943-12543-12089-27060-12089-41992 0-43527 35407-78948 78980-78948 21069 0 40919 8239 55809 23128 14897 14936 23089 34739 23089 55844-35 43558-35443 78980-78948 78980l7 11zm43269-59134c-2359-1200-14039-6922-16206-7714-2168-792-3748-1201-5356 1199-1570 2359-6134 7715-7524 9316-1391 1574-2765 1799-5124 598s-10035-3703-19088-11790c-7043-6285-11818-14070-13208-16428-1389-2358-156-3667 1053-4824 1091-1057 2361-2766 3557-4156 1200-1390 1573-2362 2361-3967 792-1574 406-2964-190-4157-598-1196-5356-12876-7295-17634-1905-4649-3892-4001-5352-4082-1390-71-2963-71-4530-71s-4157 594-6324 2959c-2168 2359-8313 8124-8313 19800 0 11680 8496 22945 9688 24555 1200 1570 16735 25560 40531 35826 5656 2431 10072 3891 13514 5022 5690 1795 10853 1535 14936 932 4564-672 14039-5730 16026-11272 1985-5546 1985-10291 1391-11272-563-1056-2133-1639-4529-2855l-18 15h-1z' fill='url(%23a)'%3E%3C/path%3E%3C/svg%3E");
}

.list__el_telegram:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 333334 333334' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='162482' y1='307276' x2='170852' y2='26057.5'%3E%3Cstop offset='0' stop-color='%2319a8dd'%3E%3C/stop%3E%3Cstop offset='.678' stop-color='%232ab2e2'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%233cbde8'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Ccircle cx='166667' cy='166667' r='166667' fill='url(%23a)'%3E%3C/circle%3E%3Cpath d='M246886 91205l-29735 149919s-4158 10396-15594 5404l-68618-52606-24952-12059-42002-14140s-6446-2288-7069-7277c-624-4992 7277-7694 7277-7694l166970-65498s13722-6030 13722 3951z' fill='%23fefefe'%3E%3C/path%3E%3Cpath d='M127666 239440s-2003-188-4499-8089c-2495-7901-15178-49487-15178-49487l100846-64043s5822-3535 5614 0c0 0 1040 623-2079 3534s-79222 71320-79222 71320l-5481 46765z' fill='%23d4e6f1'%3E%3C/path%3E%3Cpath d='M159250 214094l-27141 24745s-2122 1609-4443 601l5197-45965 26387 20619z' fill='%23b6d0e5'%3E%3C/path%3E%3C/svg%3E");
}

.list__el_linked-in:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 333333 333333' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M302077 0H31255C14069 0 1 14068 1 31256v270822c0 17186 14068 31254 31254 31254h270822c17186 0 31254-14068 31254-31254l2-270824C333333 14068 319265 0 302079 0h-2zM142041 135879h34068v17465l493 1c4744-8512 16345-17465 33644-17465 35974-2 42628 22387 42628 51509v59324l-35529 1v-52589c0-12537-260-28675-18473-28675-18499 0-21333 13646-21333 27761v53503h-35496V135878zm-24630-30787c0 10198-8276 18473-18474 18473s-18477-8276-18477-18473c0-10198 8279-18474 18477-18474s18474 8276 18474 18474zm-36951 30787h36951v110836H80460V135879z' fill='%230077b5'%3E%3C/path%3E%3C/svg%3E");
}

.list__el_facebook:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 333333 333333' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M302077 0H31255C14069 0 1 14068 1 31256v270822c0 17186 14068 31254 31254 31254h270822c17186 0 31254-14068 31254-31254l2-270824C333333 14068 319265 0 302079 0h-2zM187907 95783h35461V53254h-35461c-27307 0-49588 22274-49588 49618v21255h-28355v42539h28350v113412h42533V166666h35427l7094-42539h-42523v-21255c0-3848 3247-7094 7060-7094v6h2z' fill='%233b5998'%3E%3C/path%3E%3C/svg%3E");
}

.list__el_skype:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3308 3333' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M932 0c132 0 257 27 370 76 123-30 251-46 383-46 891 0 1613 722 1613 1613 0 144-19 284-54 417 42 106 65 221 65 342 0 514-417 932-932 932-151 0-293-36-419-100-89 15-179 23-272 23-891 0-1613-722-1613-1613 0-101 9-199 27-295-63-126-98-267-98-417C2 418 419 0 934 0zm1497 2006c0 123-30 228-90 316-161 237-381 267-655 267-160 0-298-25-412-74s-199-110-253-184c-54-73-81-147-81-221 0-49 18-72 52-107 35-35 79-52 132-52 47 0 83 12 108 35s49 55 72 97c45 80 101 120 164 159 64 39 151 59 261 59 89 0 162-20 219-60s86-85 86-137c0-79-30-136-89-172-60-36-157-70-294-103-153-38-279-78-375-120s-173-98-231-166c-57-69-87-153-87-253 0-642 1066-741 1370-252 13 21 22 41 28 59 51 154-163 298-336 147-60-52-108-122-174-161-46-27-107-44-200-44-109 0-294 49-294 186 0 47 25 99 64 129 40 30 92 55 159 75 66 20 171 44 288 72 138 34 252 74 339 121 88 47 116 102 161 166s68 136 68 218z' fill='%2300aff0'%3E%3C/path%3E%3C/svg%3E");
}

.keyvisual {
  background-color: #cce7cc;
}

.portfolio {
  background-color: #CCCCFF;
}

.contacts {
  background-color: #F9F2CC;
}

.numeric-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-left: 30px;
}

@media screen and (min-width: 500px) {
  .list__el_half {
    width: 50%;
  }
}
